/.idea
/.lein-repl-history
/.lein-failures
.nrepl-port
**/.lsp/.cache
.clj-kondo
!/.clj-kondo/config.edn
/out
target/
/eca
/classes
/.DS_Store
/.cpcache
/test.clj
.calva
/*.jar
eca.old
.eca/
.clojure-mcp/

/.classpath
/.project
/.settings/
/reports

/.lh
output.calva-repl

result
PROJECT_SUMMARY.md

# emacs
*~

# docs symlinks
docs/README.md
docs/CHANGELOG.md
docs/images/

integration-test/stderr.txt
reachability-metadata.json
